body {
    max-width:50em; /* 800px eða 1600px */
    font-size:1em; /*1em = 16px / retina skjár = 32px */
    margin-left:auto;
    margin-right: auto;
    padding:1em;
    border: 1px solid rgb(20, 20, 197);
}
h1 {
    color:rgb(199, 0, 0);
}
h2 {
    color: rgb(32, 121, 32);
}
h3 {
    color:rgb(37, 37, 187);
}
.poem {
    font-style: italic;
    padding-left: 3em;
}
.poem h4 {
    color:rgb(37, 37, 187)
}
.inlineblock li {
    display: inline-block;
    padding-left: 3em;
    font-style: italic;
}