body {
    margin: 0;
    line-height: 1.5;
    background-color: brown;
    color:white;
}
article {
    padding: 1em;
}
figure {
    margin:0;
}
figcaption {
    text-align: center;
}
/* hlutfall mynda sveigjanlegt*/

img {
    max-width: 100%;
    height: auto;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2em;
}
/* viðmið - breakpoints - Mobile up*/
@media screen and (min-width:37.5em){
    .col-3 {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:48em){
    .container {
        padding: 1em;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:2em;
    }
}
@media screen and (min-width:60em){
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media screen and (min-width:93.75em){
    .container {
        max-width: 93.75em;
        margin: 0 auto;
    }
}